<%- content_for :head, javascript_include_tag(:search, :defer => 'defer') %>

<%= javascript_tag "var searchResults=#{@formatted_docs.to_json};" %>
<section role="main" class="job-search group">

	<header class="page-header jobs-header">
		<hgroup>
			<h1>Job search</h1>
		</hgroup>
  </header>

	<div class="search-container" id="search-container">
    <div class="search-content group">
			<div class="location-options">
		    <form action="<%= search_path %>" method="post">
		      <%= search_form_fields @search.query_params.except(:location, :latitude, :longitude) %>
		      <%= label_tag 'location', "For location: " %>
		      <%= text_field_tag 'location', params[:location] %>
		      <%= submit_tag 'Change location', :name => nil, :class => 'button' %>
		    </form>
		  </div>
			<div class="query-options-headline group">
      	<div class="query-options">
					<form action="<%= search_path %>" class="query" method="post">
	          <fieldset>
							<input id="location" name="location" type="hidden" value="<%= @search.location %>" />
							<label for="query">Job title containing</label>
		          <input id="query" name="query" type="text" placeholder="anything" value="<%= @search.query %>" />
						</fieldset>

						<fieldset>
							<%- time_options.each do |k, v| -%>
								<%= radio_button_tag('full_time', v, params[:full_time].to_s == v.to_s) %>
								<%= label_tag("full_time_#{v}", k) %>
							<%- end -%>
						</fieldset>

						<fieldset>
							<%- permanent_options.each do |k, v| -%>
								<%= radio_button_tag('permanent', v, params[:permanent].to_s == v.to_s) %>
								<%= label_tag("permanent_#{v}", k) %>
							<%- end -%>
						</fieldset>

						<fieldset>
							<%= label_tag('recency', "Posted") %>
							<%= select_tag('recency', options_for_select(recency_options, params[:recency].to_s)) %>
						</fieldset>
						<fieldset>
							<input type="submit" value="Search" />
							<a href="#" class="reset-search-form">Reset</a>
						</fieldset>
	        </form>

	      </div>
				<div class="query-results-headline">
					<%- if @results.total > 0 -%>
						<h2>Found <%= pluralize @results.total, 'job' %> <small>within <%= pluralize @search.distance, 'mile' %> of <%= @search.location %></small></h2>
		      <%- else -%>
		        <div class="no-results">
							<h2>No jobs found</h2>
							<p>Try searching again, using a less specific job title or search options.</p>
						</div>
		      <%- end -%>
				</div>
			</div>

      <%- if @results.total > 0 -%>
				<ol class="search-results">
					<%- @results.docs.each do |doc| %>
						<%= content_tag :li, :class => 'job group job-identifier', :data => { :id => doc['id'] } do -%>
							<header>
								<hgroup>
									<h3 class="title">
                		<%= link_to doc['title'].titlecase, job_path(doc['id']) %>
									</h3>
									<h4 class="employer-name">
										<%= doc['employer_name'] %>
									</h4>
								</hgroup>
						   	<div class="location-posted-date">
									<p class="location"><%= doc['location_name'].titlecase %> (<%= distance(doc['location_0_coordinate'].to_f, doc['location_1_coordinate'].to_f, @search.latitude, @search.longitude).round(1) %> miles away)</p>
									<p class="posted-date">Posted: <%= pretty_format_date(Time.iso8601(doc['received_on'])) if doc['received_on'].present? %></p>
								</div>
							</header>
							<article class="basic-info">
								<div class="wage">
									<h4>Wage:</h4>
									<p><%= doc['wage_display_text'].presence.try(:titlecase) %></p>
								</div>
								<div class="hours">
									<h4>Hours:</h4>
									<p><%= doc['hours_display_text'].presence.try(:titlecase) %></p>
								</div>
								<div class="job-options">
									<p class="more-info"><a href="<%= job_path(doc['id']) %>">More info</a></p>
								</div>
							</article>
						<%- end -%>
					<%- end -%>
				</ol>
        <nav class="pagination-wrapper group">
					<%= pagination(@search, @results) %>
				</nav>
      <%- else -%>

      <%- end -%>
    </div>
  </div>
</section>