<section role="main" class="group">
	<header class="group">
    <h1>Job search results</h1>
	  <div class="location-options">
	    <form action="<%= search_path %>" method="get">
	      <%= search_form_fields @search.query_params.except(:location, :latitude, :longitude) %>
	      <%= label_tag 'location', "For location: " %>
	      <%= text_field_tag 'location', params[:location] %>
	      <%= submit_tag 'Change location', :name => nil %>
	    </form>
	  </div>
  </header>

	<div class="search-container">
    <div class="search-content">
			<div class="query-options-headline">
      	<div class="query-options">
					<form action="<%= search_path %>" class="query" method="get">
	          <fieldset>
							<input id="location" name="location" type="hidden" value="e5 0ja" />
							<label for="query">Search for job title:</label>
		          <input id="query" name="query" type="text" />
						</fieldset>

						<fieldset>
							<%- time_options.each do |k, v| -%>
								<%= radio_button_tag('time', v, params[:time].to_s == v.to_s) %>
								<%= label_tag('time', k) %>
							<%- end -%>
						</fieldset>
						
						<fieldset>
							<%- permanent_options.each do |k, v| -%>
								<%= radio_button_tag('permanent', v, params[:permanent].to_s == v.to_s) %>
								<%= label_tag('permanent', k) %>
							<%- end -%>
						</fieldset>
						
						<fieldset>
							<label for="job-posted-date">Jobs posted:</label>
							<%= select_tag('recency', options_for_select(recency_options, params[:recency].to_s)) %>
						</fieldset>
						<fieldset>
							<input type="submit" value="Search" />
							<a href="#">Reset</a>
						</fieldset>
	        </form>
	
	      </div>
				<div class="query-results-headline">
					<%- if @results.total > 0 -%>
						<h2>Found <%= pluralize @results.total, 'job' %> <small>within <%= pluralize @search.distance, 'mile' %> of <%= @search.location %></small></h2>
		      <%- else -%>
		        <h2>No results found</h2>
		      <%- end -%>
				</div>
			</div>

      <%- if @results.total > 0 -%>
				<ol class="search-results">
					<%- @results.docs.each do |doc| %>
						<%= content_tag :li, :class => 'job group', :data => { :id => doc['id'], :title => doc['title'] } do -%>
							<header>
								<hgroup>
									<h3 class="title">
                		<%= link_to doc['title'].titlecase, job_path(doc['id']) %>
									</h3>
									<h4 class="employer-name">
										<%= doc['employer_name'] %>
									</h4>
								</hgroup>
						   	<div class="location-posted-date">
									<p class="location"><%= doc['location_name'].titlecase %> (<%= distance(doc['location_0_coordinate'].to_f, doc['location_1_coordinate'].to_f, @search.latitude, @search.longitude).round(1) %> miles away)</p>
									<p class="posted-date">Posted: <%= pretty_format_date(Time.iso8601(doc['received_on'])) if doc['received_on'].present? %></p>
								</div>
							</header>
							<article class="basic-info">
								<div class="wage">
									<h4>Wage:</h4>
									<p><%= doc['wage_display_text'].presence.try(:titlecase) %></p>
								</div>
								<div class="hours">
									<h4>Hours:</h4>
									<p><%= doc['hours_display_text'].presence.try(:titlecase) %></p>
								</div>
								<div class="job-options">
									<p class="add-to-jobs-list"><a href="#">Add to jobs list</a></p>
									<p class="more-info"><a href="<%= job_path(doc['id']) %>">More info</a></p>
								</div>
							</article>
						<%- end -%>
					<%- end -%>
				</ol>
        <%= pagination(@search, @results) %>
      <%- else -%>
        <p>No results found.</p>
      <%- end -%>
    </div>
  </div>

	<div class="job-bookmarks-position">
		<div class="job-bookmarks-wrapper">
			<div class="job-bookmarks">
				<h2>Jobs list</h2>
				<ul>
					<li>
						<h4><a href="#">Muppet Operator</a></h4>
						<p>Jim Henson Workshop Inc.</p>
						<p>Oxford, Oxfordshire (1.3 miles away)</p>
					</li>
				</ul>
				<p class="hint">Save jobs here by clicking "Add to jobs list" on a job.</p>
			</div>
		</div>
	</div>

</section>