<section role="main" class="individual-job group">
  <%# TODO: check whether the referer is for our site -%>
  <%- if request.env['HTTP_REFERER'].present? -%>
    <p><%= link_to 'Back to search results', :back %></p>
  <%- else -%>
    <p><%= link_to 'Search for jobs near you' -%></p>
  <%- end -%>
	<p class="add-to-list"><a href="#">Add to list</a></p>
	<!-- <header class="jobs-header">
		<hgroup>
	    <h1><%= @job['title'].titlecase %></h1>
		  <h2 class="employer"><%= @job['employer_name'].presence.try(:titlecase) || "No employer information." %></h2>
		</hgroup>
	</header> -->
	<article>
		<div class="inner">
			<header>
				<hgroup>
			    <h1><%= @job['title'].titlecase %></h1>
				  <h2 class="employer"><%= @job['employer_name'].presence.try(:titlecase) || "No employer information." %></h2>
				</hgroup>
			</header>
			<div class="location"><p><%= @job['location_name'].presence.try(:titlecase) || "No location information." %></p></div>
		  <div class="basic-info">
		    <div class="wage">
					<h3>Wage</h3>
		    	<p><%= @job['wage_display_text'].titlecase %></p>
				</div>
				<div class="hours">
			    <h3>Hours</h3>
			    <p><%= @job['hours_display_text'].titlecase %></p>
				</div>
		  </div>
			<div class="description">
		 	 <h3>Vacancy Description</h3>
			  <%= auto_link(simple_format(@job['vacancy_description'].presence || "No information."), :html => { :rel => 'nofollow' }) %>
			</div>
			<div class="how-to-apply">
			  <h3>How To Apply</h3>
			  <%= auto_link(simple_format(@job['how_to_apply'].presence || "No information."), :html => { :rel => 'nofollow'}) %>
			</div>
		</div>
	</article>
	
</section>
