<%- content_for :head do -%>
	<%= javascript_include_tag :search %>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<%- end -%>

<%= javascript_tag "var searchResults=#{[@formatted_job].to_json};" %>

<div class="related-positioning">
	<div class="related-container">
		<div class="related-container-two">
   		<div class="related">
		     <div class="inner" class="group">
		       <h2>Related tools &amp; topics</h2>
		       <nav role="navigation">
		         <ul>
								some other stuff here
                 <li class="related-topic"><a href="#">View more in <span>Some section &rarr;</span></a></li>
		         </ul>
		       </nav>
		     </div>
		   </div><!-- end .related -->
		</div>
	</div>
</div>

<section role="main" class="individual-job group">
  <%# TODO: check whether the referer is for our site -%>
  <header class="jobs-header">
		<%= content_tag :nav, :class => 'jobs-navigation job-identifier', :data => { :id => @job['id'] } do -%>
			<%- if request.env['HTTP_REFERER'].present? -%>
		    <p><%= link_to '&larr; Back to job search results'.html_safe, :back %></p>
		  <%- else -%>
		    <p><%= link_to 'Search for jobs near you' -%></p>
		  <%- end -%>
			<p class="add-to-list"></p>
		<% end %>
	</header>
	<article>
		<div class="inner group">
			<header>
				<hgroup>
			    <h1><%= @job['title'].titlecase %></h1>
				  <h2 class="employer-name"><%= @job['employer_name'].presence.try(:titlecase) || "No employer information." %></h2>
				</hgroup>
				<div class="location-map">
					<div id="map-canvas"></div>
					<p class="location"><%= @job['location_name'].presence.try(:titlecase) || "No location information." %></p></div>
			  <div class="basic-info">
			    <div class="wage">
						<h3>Wage</h3>
			    	<p><%= @job['wage_display_text'].titlecase %></p>
					</div>
					<div class="hours">
				    <h3>Hours</h3>
				    <p><%= @job['hours_display_text'].titlecase %></p>
					</div>
			  </div>
			</header>
			<div class="description">
		 	 <h3>Vacancy description</h3>
			  <%= auto_link(simple_format(@job['vacancy_description'].presence || "No information."), :html => { :rel => 'nofollow' }) %>
			</div>
			<div class="how-to-apply">
			  <h3>How to apply</h3>
			  <%= auto_link(simple_format(@job['how_to_apply'].presence || "No information."), :html => { :rel => 'nofollow'}) %>
			</div>
		</div>
	</article>
	
</section>

<script type="text/javascript">
  $(document).ready(function() {
    var latlng = new google.maps.LatLng(<%= "%f,%f" % [@job['location_0_coordinate'].to_f,
													                             @job['location_1_coordinate'].to_f] %>);
    var myOptions = {
      zoom: 14,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
  });
</script>
