<form action="<%= search_path -%>" method="get">
  <%= label_tag :location, "Postcode:" %>
  <%= text_field_tag :location %>

  <%= label_tag :permanent, "Permanence" %>
  <%= select_tag :permanent, options_for_permanent %>

  <%= label_tag :full_time, "Time" %>
  <%= select_tag :full_time, options_for_full_time %>

  <%= submit_tag "Search", :name => nil %>
</form>